<div class='row'>
  <div class='col-sm-4'>
    <div id='displayImage' class='well'>

    </div>
  </div>

  <div class='col-sm-6'>
    <div id='displaywords' class='well'>
      <h3><%= @word.name %> <%= @word.definition %></h3>
      <p><%= @word.definition %></p>
      <br>
      <a href='/'>Return to home page!</a>
    </div>
  </div>
</div>
