body {
  font-family: 'Arvo', serif;
  background-color: #85DCB0;
  color: #123;
}

.jumbotron {
  background-color: #41B3A3;
}

.jumbotron h1 {
  margin-left: 40px;
}

.well  {
  background-color: #e27d60;
  border-style: none;
}

input {
  max-width: 80%;
}

input[type='text'], textarea {
  color: #123;
  background-color: #e8a87c;
  border-style: none;
}

button {
  background-color: #e8a87c;
  color: #123;
}

a {
  color: #123;
}

#createWord {
  margin: 20px;
  width: 100%;
}

#displayWords {
  margin: 20px;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
}

#displayImage {
  margin: 20px;
  width: 100%;
}
